# APP
NODE_ENV=production
PORT=8000

# DB
POSTGRES_PASSWORD=yourpass
DATABASE_URL="postgresql://postgres:yourpass@postgres:5432/postgres"

# JNE
JNE_USERNAME=your-jne-username
JNE_API_KEY=your-jne-api-key
JNE_ORIGIN_CODE=your-origin-code

# Store Delivery
STORE_DELIVERY_RATE_PER_KM=10000
STORE_DELIVERY_BASE_FEE=15000
STORE_LATITUDE=-6.200000
STORE_LONGITUDE=106.816666
