# APP
PORT=8000

# DB
DATABASE_URL="postgresql://postgres:admin@localhost:6543/postgres"

# APP
PORT=

# jwt
JWT_SECRET=
JWT_SECRET_KEY_RESET_PASSWORD=
JWT_SECRET_KEY_VERIFICATION=
JWT_SECRET_KEY_DELETE_ACCOUNT=
JWT_SECRET_SESSION_RENEWAL=


# mail
MAIL_USER=
MAIL_PASSWORD=

# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# base url
BASE_URL_FE=http://localhost:3000

# Oauth google
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

# payment midtrans
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=

# RAJA ONGKIR
RAJAONGKIR_API_COST_KEY=
RAJAONGKIR_API_DELIVERY_KEY=
RAJAONGKIR_ORIGIN_SUBDISTRICT_ID=

STORE_LATITUDE=
STORE_LONGITUDE=
STORE_DELIVERY_RATE_PER_KM=

# JNE dev
JNE_USERNAME=
JNE_API_KEY=
JNE_ORIGIN_CODE=

# JNE live
# JNE_USERNAME=
# JNE_API_KEY=
# JNE_ORIGIN_CODE=


# npm run docker-dev:up

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=


